@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradientPrimary {
    background: linear-gradient(270deg, #225ce3, #05235f);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }